article {
    display: flex;
    flex-direction: column;

    p {
        margin-top: 0px;
    }

}
article header {
    .meta-data{
        display: flex;
        flex-direction: row-reverse;
        justify-content : space-between;
    }
    h3 {
        padding: 0px;
        margin: 0px;
    }
    time {
        font-style: italic;
        text-align: right;
    }
    .location {
        font-weight: bolder;
    }
}