article {
    display: flex;
    flex-direction: column;

    p {
        margin-top: 0px;
    }

}
article header {
    .meta-data{
        display: flex;
        flex-direction: row-reverse;
        justify-content : space-between;
    }
    h3 {
        padding: 0px;
        margin: 0px;
    }
    time {
        font-style: italic;
        text-align: right;
    }
    .location {
        font-weight: bolder;
    }
}
.download-button {
    text-decoration: none;
    background-image: var(--accent-gradient);
    background-color:rgb(var(--gradient-color1));
    background-size: 400%;
    color:white;
    font-weight:500;
    padding: 0.5em;
    border-radius: 15px;
    width: 5.5em;
}
.download-button:hover{
    font-style: italic;
}

.resume-options-wrapper{
    display: flex;
    justify-content: flex-end;
}