---
import BasicPage from "../layouts/BasicPage.astro"

---

<BasicPage pageName="About">
   <p class="instructions">I am 4th year student in Computer science, currently following courses at the ESIR engineering school at Rennes, France.
   </p>
</BasicPage>