---
import Card from "../components/Card.astro";
import BasicPage from "../layouts/BasicPage.astro"

---

<BasicPage pageName="Contact">
    <p class="instructions">
        I have several communication media, choose the one that suits you best to contact me.
    </p>
    <div role="list" class="link-card-grid">
        <Card href="mailto:" title="Academic email" body="(at etudiant.univ-rennes1.fr) leo.filoche">
        </Card>    
        <Card href="mailto:" title="Personal email" body="(at gmail.com) leofiloche.wk">
        </Card>
        <Card href="https://www.linkedin.com/in/leofiloche/" title="LinkedIn" body="@leofiloche">

        </Card>
    </div>
</BasicPage>