---
import Loading from "../components/Loading.astro";
import BasicPage from "../layouts/BasicPage.astro";

---

<BasicPage pageName="Projects">
  <p class="instructions">
    I made some projects during my years at the university. Here is a list of some of them. 
  </p>
    <div class="instructions">
        <ul id="projects"> </ul>
        <Loading></Loading> 
    </div> 
</BasicPage>
<script>
    const url = "https://k4kyrw.deta.dev";
    var elem = document.getElementById("projects")!;
    fetch(url+'/projects')
  .then((response) => response.json())
  .then((projets:any[]) => {
    document.getElementById("loading-icon")!.hidden = true;
    for(let projet of projets){
        elem.innerHTML+="<li><a href="+projet.link+">"+projet.name+"</a></li>";
    }
  });
</script>