---
import BasicPage from '../layouts/BasicPage.astro';
import '../styles/resume.scss';
---
<BasicPage pageName="Resume">
  <p class="instructions">
    This is my resume. Enjoy reading it !
  </p>
  <div id="resume-content" class="instructions">
    <div class="resume-options-wrapper">
      <a class="download-button" href="https://k4kyrw.deta.dev/resume/pdf">See original</a>
    </div>
    <div class="loading-infinity">
      <img  id="loading-resume-icon" src={import.meta.env.BASE_URL+"infinityload.svg"}> 
    </div>
  </div>
</BasicPage>
<script>
  const url = "https://k4kyrw.deta.dev";
  var elem = document.getElementById("resume-content")!;
  fetch(url+'/resume')
  .then((response) => response.json())
  .then((resume) => {
    document.getElementById("loading-resume-icon")!.hidden = true;
    console.log(resume);
    for(const category of resume.categories){
      elem.innerHTML+="<h2>"+category.name+"<h2>";
        for(const article of category.articles){
          var articleHtml = "<article>"
            articleHtml+="<header>";
            var peopleInfo = article.teamsize==undefined?"":(" ~"+(article.teamsize==1?"Alone":(article.teamsize+" person team")))
            articleHtml+="<h3>"+article.title+peopleInfo+"</h3>";
            articleHtml+="<div class=meta-data>";
            if(article.date!==undefined)articleHtml+="<time>"+article.date+"</time>";
            if(article.place!==undefined) articleHtml+="<div class=location>"+article.place+"</div>"
            articleHtml+="</div>";
            articleHtml+="</header>";
            if(article.content!==undefined) articleHtml+="<p>"+article.content+"</p>";
            if(article.tags!==undefined){
              articleHtml+="<span class=tags>  ";
              for(let tid in article.tags){
                  articleHtml+=(+tid==0?"":", ")+article.tags[tid];
              }
              articleHtml+=" </span>";
            }
            articleHtml+="</article>";
            elem.innerHTML+=articleHtml;
        }
    }
  });
</script>