---
import '../styles/nav.scss';
const { title } = Astro.props;
---
<nav>
    <h1 class="menu"><a class="text-gradient" href={import.meta.env.BASE_URL}>Léo Filoche</a></h1><h2 class="sub-nav"> | {title}</h2> 
</nav>
