---
import Navigation from "../components/Navigation.astro";
import Layout from "./Layout.astro";

let {pageName} = Astro.props;
const frontmatter = Astro.props.frontmatter;
if(frontmatter!==undefined)pageName = frontmatter.title;
---
<Layout title={"Léo Filoche | " + pageName}>
<main>
    <Navigation title={pageName}></Navigation>
    <slot />
</main>
</Layout>